body{
  margin: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

hr{
  border-style: none;
  border-top-style:  dotted;
  border-width: 5px;
  width: 5%;
  margin: 2rem auto;
  background-color:maroon;
}

h3{
  font-weight: bold;
}

img{
  width: 105px;
  height: 105px;
}

.container{
  position: relative;
  text-align: left;
}

.container-sm{
  text-align: left;
}

.heading{
  font-weight: bold;
}

.title{
  font-weight: bold;
}

#heading{
  padding-top: 5rem;
  font-family: 'Kaushan Script';
}

#heading h2{
  font-size: 3rem;
}

#heading h1{
  font-size: 3.5rem;
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: maroon;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 85%;
}
.bar .progress-line.css span{
  width: 85%;
}
.bar .progress-line.ajax span{
  width: 80%;
}
.bar .progress-line.node span{
  width: 75%;
}
.bar .progress-line.mysql span{
  width: 60%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "85%";
}
.progress-line.css span::after{
  content: "85%";
}
.progress-line.ajax span::after{
  content: "80%";
}
.progress-line.node span::after{
  content: "70%";
}
.progress-line.mysql span::after{
  content: "60%";
}

#formatTable{
  padding-left: 4rem;
}

.image{
  padding-top: 1rem;
  padding-left: 2rem;
}

.imageOther{
  padding-top: 1rem;
  padding-left: 2rem;
}

#gitImg{
  padding-left: 1rem;
}

.rounded-circle{
  height: 100px;
  width: 100px;
}

.bottom-container{
  padding: 2rem;
  padding-bottom: 1rem;
}

.img-circle{
  height: 15rem;
  width: 15rem;
}

