body{
  margin: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

hr{
  border-style: none;
  border-top-style:  dotted;
  border-width: 5px;
  width: 5%;
  margin: 2rem auto;
}

h3{
  font-weight: bold;
}

.col img{
  width: 105px;
  height: 105px;
}

.col-md-auto img{
  width: 105px;
  height: 105px;
}

.container{
  position: relative;
  text-align: left;
}

.container-sm{
  text-align: left;
}

.heading{
  font-weight: bold;
}

.title{
  font-weight: bold;
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: maroon;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 80%;
}
.bar .progress-line.css span{
  width: 75%;
}
.bar .progress-line.ajax span{
  width: 75%;
}
.bar .progress-line.node span{
  width: 65%;
}
.bar .progress-line.mysql span{
  width: 55%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

/* beginner| intermediate| advanced| expert */
/* 25 percent for each */

.progress-line.html span::after{
  content: "advanced";
}
.progress-line.css span::after{
  content: "advanced";
}
.progress-line.ajax span::after{
  content: "advanced";
}
.progress-line.node span::after{
  content: "intermediate";
}
.progress-line.mysql span::after{
  content: "intermediate";
}

#heading{
  padding-top: 6rem;
  padding-bottom: 2rem;
  font-family: 'Kaushan Script';
}

#heading h2{
  padding-bottom: 1rem;
  font-size: 3rem;
}

#heading h1{
  font-size: 3.5rem;
}

#formatTable{
  padding-left: 4rem;
}

.rounded-circle{
  height: 100px;
  width: 100px;
}

.bottom-container{
  padding: 2rem;
  padding-bottom: 1rem;
}

.img-circle{
  height: 15rem;
  width: 15rem;
}

.circle{
  font-size: 100%;
  padding-top: 0.25rem;
  height: 45px;
  width: 45px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Niconne', cursive;
}

.skillImg{
  margin: 10px 10px 10px 10px;
}

.wrapper{
  position: relative;
  width: 50%;
  max-width: 105px;
}

.wrapper img{
  display: block;
  width: 105px;
  height: 105px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.wrapper:hover .overlay {
  opacity: 1;
}